.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.left-toolBar, .right-viewBox {
  position: relative;
  height: 100%;
}

.left-toolBar {
  width: 60px;
}

.right-viewBox {
  width: calc(100% - 60px);
}