body {
  border: none;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.left-toolBar, .right-viewBox {
  position: relative;
  height: 100%;
}

.left-toolBar {
  width: 60px;
  border-right: thin #C4AE81 solid;
}

.right-viewBox {
  width: calc(100% - 60px);
}